/*

*/

.version.index /* version checker */
{
	color: #0000F2;
	background-color: #D89377;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 4549.900000000001px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	width: 100%;
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -62px;
	width: 100%;
}

#u1537
{
	z-index: 273;
	width: 195px;
	min-height: 98px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -208px;
	background: transparent url("../images/constr.jpg") no-repeat left top;
}

#u94
{
	z-index: 12;
	min-height: 750px;
	background: transparent url("../images/bg1.jpg") no-repeat center center;
	background-size: cover;
}

#u94_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 1170px;
	padding-top: 222px;
	padding-bottom: 77px;
}

#u1550
{
	z-index: 15;
	width: 550px;
	min-height: 70px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 58px;
	left: 311px;
	position: relative;
}

#u137-8
{
	z-index: 24;
	min-height: 99px;
	background-color: transparent;
	line-height: 24px;
	margin-top: 17px;
	position: relative;
	width: 52.91%;
	margin-left: 23.55%;
	left: 1px;
}

#u137-6
{
	font-size: 15px;
}

#u118-4
{
	z-index: 16;
	min-height: 64px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	line-height: 36px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 20.18%;
	margin-left: 39.92%;
	left: 130px;
}

#u118-4:hover
{
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	border-color: #FFFFFF;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 64px;
	width: 20.18%;
	left: 130px;
	margin: 0px -10000px -1px 39.914529914529915%;
}

#u118-4:active
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	border-color: #000000;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 64px;
	width: 20.18%;
	left: 130px;
	margin: 0px -10000px -1px 39.914529914529915%;
}

.gs
{
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u130-4
{
	z-index: 20;
	min-height: 64px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	color: #FFFFFF;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: '__HelveticaNeueCyr_5';
	font-weight: 100;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 17.44%;
	margin-left: 41.29%;
	left: -112px;
}

#u130-4:hover
{
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	border-color: #FFFFFF;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 64px;
	width: 17.44%;
	left: -112px;
	margin: 0px -10000px -1px 41.28205128205128%;
}

#u130-4:active
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	border-color: #000000;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 64px;
	width: 17.44%;
	left: -112px;
	margin: 0px -10000px -1px 41.28205128205128%;
}

#u118-4:active p,#u130-4:active p
{
	color: #000000;
	visibility: inherit;
}

#u130-2
{
	padding-bottom: 5px;
	padding-top: 15px;
}

#u1563
{
	z-index: 274;
	width: 20px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 380px;
}

#u1573
{
	z-index: 275;
	width: 20px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	margin-left: 50%;
	left: 107px;
}

#pu105
{
	margin-top: 124px;
	position: relative;
	width: 100%;
}

#u105
{
	z-index: 13;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 3.59%;
	margin-left: 48.21%;
	left: 0px;
}

#u1653
{
	z-index: 284;
	width: 20px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 576px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u94-bw
{
	z-index: 12;
	min-height: 750px;
}

#pu156-4
{
	margin-top: 90px;
	width: 100%;
}

#u156-4
{
	z-index: 32;
	min-height: 59px;
	background-color: transparent;
	line-height: 58px;
	position: relative;
	margin-right: -10000px;
	width: 61.54%;
	margin-left: 19.24%;
	left: 0px;
}

#u1578
{
	z-index: 276;
	width: 20px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 415px;
}

#u164-6
{
	z-index: 36;
	min-height: 83px;
	background-color: transparent;
	line-height: 20px;
	margin-top: 27px;
	position: relative;
	width: 88.47%;
	margin-left: 5.77%;
	left: 0px;
}

#u164-2,#u164-4
{
	font-size: 14px;
	padding-bottom: 0px;
	padding-top: 0px;
}

#u182
{
	z-index: 42;
	min-height: 550px;
	background: transparent url("../images/bg-lp-2.jpg") repeat-x left top;
}

#u182_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 1170px;
	padding-top: 70px;
	padding-bottom: 100px;
}

#u168-4
{
	z-index: 43;
	min-height: 42px;
	background-color: transparent;
	line-height: 58px;
	position: relative;
	width: 81.29%;
	margin-left: 9.36%;
	left: -1px;
}

#u171-4
{
	z-index: 47;
	min-height: 24px;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
	width: 41.37%;
	left: 29.32%;
}

#pu215
{
	margin-top: 36px;
	position: relative;
	width: 100%;
}

#u215
{
	z-index: 75;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 10.43%;
	left: 18.3%;
}

#u223
{
	z-index: 77;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 10.43%;
	left: 44.79%;
}

#u1658
{
	z-index: 285;
	width: 20px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 575px;
}

#u230
{
	z-index: 79;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 10.43%;
	left: 71.2%;
}

#pu193-4
{
	margin-top: 30px;
	position: relative;
	width: 100%;
}

#u193-4
{
	z-index: 51;
	background-color: transparent;
	line-height: 31px;
	position: relative;
	margin-right: -10000px;
	width: 17.1%;
	left: 15.05%;
}

#u197-4
{
	z-index: 55;
	background-color: transparent;
	line-height: 31px;
	position: relative;
	margin-right: -10000px;
	width: 17.1%;
	left: 41.46%;
}

#u200-4
{
	z-index: 59;
	background-color: transparent;
	line-height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 17.1%;
	left: 67.87%;
}

#pu203-4
{
	top: -2px;
	margin-bottom: -2px;
	position: relative;
	width: 100%;
}

#u203-4
{
	z-index: 63;
	min-height: 59px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 27.1%;
	left: 10%;
}

#u206-4
{
	z-index: 67;
	min-height: 59px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 21.97%;
	left: 39.06%;
}

#u212-4
{
	z-index: 71;
	min-height: 59px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 21.97%;
	left: 65.48%;
}

#u182-bw
{
	z-index: 42;
	min-height: 550px;
	margin-top: 97px;
}

#u245-4
{
	z-index: 81;
	min-height: 65px;
	background-color: transparent;
	line-height: 58px;
	position: relative;
	margin-right: -10000px;
	width: 81.37%;
	left: 9.24%;
}

#u1583
{
	z-index: 277;
	width: 20px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 545px;
}

#slideshowu1311
{
	z-index: 239;
	width: 0.01px;
	height: 389px;
	margin-top: 30px;
	position: relative;
}

#u1312
{
	position: absolute;
	width: 850px;
	height: 389px;
	border-width: 0px;
	background-color: transparent;
	left: 160px;
}

#u1312popup
{
	z-index: 240;
}

#u1321
{
	z-index: 241;
	width: 850px;
	height: 389px;
	border-width: 0px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1459
{
	z-index: 243;
	width: 850px;
	height: 389px;
	border-width: 0px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1479
{
	z-index: 245;
	width: 850px;
	height: 389px;
	border-width: 0px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1499
{
	z-index: 247;
	width: 850px;
	height: 389px;
	border-width: 0px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1321_img,#u1459_img,#u1479_img,#u1499_img
{
	padding: 2px 9px 1px;
}

#u1343-3
{
	position: absolute;
	width: 160px;
	min-height: 386px;
	border-width: 0px;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
}

#u1343-3popup
{
	z-index: 249;
}

#u1323-3
{
	position: absolute;
	width: 160px;
	min-height: 386px;
	border-width: 0px;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	left: 1010px;
}

#u1323-3popup
{
	z-index: 252;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu1519
{
	margin-top: -230px;
	width: 100%;
}

#u1519
{
	z-index: 2;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 2.91%;
	left: 5.65%;
}

#u1521
{
	z-index: 4;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 2.91%;
	left: 91.71%;
}

#u346
{
	z-index: 11;
	min-height: 588px;
	background-color: #313D4F;
}

#u346_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 1170px;
	padding-top: 62px;
	padding-bottom: 64px;
}

#u248-6
{
	z-index: 85;
	min-height: 127px;
	background-color: transparent;
	line-height: 58px;
	position: relative;
	margin-right: -10000px;
	width: 76.67%;
	left: 11.71%;
}

#u1588
{
	z-index: 278;
	width: 20px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 552px;
}

#pu276
{
	margin-top: 63px;
	position: relative;
	width: 100%;
}

#u276
{
	z-index: 119;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 4.53%;
	left: 12.48%;
}

#u284
{
	z-index: 121;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 4.71%;
	left: 35.82%;
}

#u291
{
	z-index: 123;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 4.79%;
	left: 59.24%;
}

#u1663
{
	z-index: 286;
	width: 20px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 711px;
}

#u298
{
	z-index: 125;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 4.79%;
	left: 82.65%;
}

#pu251-4
{
	margin-top: 24px;
	position: relative;
	width: 100%;
}

#u251-4
{
	z-index: 91;
	min-height: 38px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 22.48%;
	left: 3.51%;
}

#u254-4
{
	z-index: 95;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	width: 22.48%;
	left: 26.93%;
}

#u257-4
{
	z-index: 99;
	min-height: 22px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	width: 23.68%;
	left: 49.75%;
}

#u260-4
{
	z-index: 103;
	min-height: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	width: 18.04%;
	left: 75.99%;
}

#pu118-4,#pu305
{
	margin-top: 52px;
	position: relative;
	width: 100%;
}

#u305
{
	z-index: 127;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 3.85%;
	left: 19.66%;
}

#u312
{
	z-index: 129;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 3.85%;
	left: 48.04%;
}

#u1668
{
	z-index: 287;
	width: 20px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 572px;
}

#u319
{
	z-index: 131;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 4.53%;
	left: 76.16%;
}

#pu266-4
{
	margin-top: 22px;
	position: relative;
	width: 100%;
}

#u266-4
{
	z-index: 107;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 23.59%;
	left: 9.49%;
}

#u269-4
{
	z-index: 111;
	min-height: 27px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 23.85%;
	left: 38.12%;
}

#u272-4
{
	z-index: 115;
	min-height: 14px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 31.12%;
	left: 62.91%;
}

#u346-bw
{
	z-index: 11;
	min-height: 588px;
	margin-top: 94px;
}

#pu349-6
{
	margin-top: 44px;
	width: 100%;
}

#u349-6
{
	z-index: 133;
	min-height: 144px;
	background-color: transparent;
	line-height: 58px;
	position: relative;
	margin-right: -10000px;
	width: 95.05%;
	left: 2.48%;
}

#u1593
{
	z-index: 279;
	width: 20px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 61px;
	left: 575px;
}

#u352-4
{
	z-index: 139;
	min-height: 54px;
	background-color: transparent;
	margin-top: 10px;
	position: relative;
	width: 69.06%;
	margin-left: 15.48%;
}

#pu355-4
{
	margin-top: 42px;
	width: 100%;
}

#u355-4
{
	z-index: 143;
	min-height: 84px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 15.39%;
	left: 42.31%;
}

#u359-4
{
	z-index: 147;
	min-height: 84px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 15.39%;
	left: 9.92%;
}

#u362-4
{
	z-index: 151;
	min-height: 89px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 15.39%;
	left: 26.16%;
}

#u365-4
{
	z-index: 155;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 15.39%;
	left: 58.47%;
}

#u368-4
{
	z-index: 159;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 15.39%;
	left: 74.62%;
}

#u387-4
{
	z-index: 184;
	background-color: transparent;
	color: #929AA5;
	line-height: 72px;
	font-size: 60px;
	font-family: '__Helvetica Neue_3';
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	width: 17.1%;
	left: 13.85%;
}

#u394-4
{
	z-index: 188;
	background-color: transparent;
	line-height: 72px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	width: 17.1%;
	left: 30.69%;
}

#u397-4
{
	z-index: 192;
	background-color: transparent;
	line-height: 72px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	width: 17.1%;
	left: 46.93%;
}

#u400-4
{
	z-index: 196;
	background-color: transparent;
	line-height: 72px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	width: 17.1%;
	left: 62.74%;
}

#u403-4
{
	z-index: 200;
	background-color: transparent;
	line-height: 72px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	width: 17.1%;
	left: 79.41%;
}

#u1603
{
	z-index: 281;
	width: 20px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 191px;
}

#u371-4
{
	z-index: 163;
	min-height: 89px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 15.39%;
	left: 15.22%;
}

#u374-4
{
	z-index: 167;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 15.39%;
	left: 33.34%;
}

#u377-4
{
	z-index: 171;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 15.39%;
	left: 51.37%;
}

#u380-4
{
	z-index: 175;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 15.39%;
	left: 69.41%;
}

#u406-4
{
	z-index: 204;
	background-color: transparent;
	line-height: 72px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	width: 17.1%;
	left: 19.58%;
}

#u409-4
{
	z-index: 208;
	background-color: transparent;
	line-height: 72px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	width: 17.1%;
	left: 37.7%;
}

#u412-4
{
	z-index: 212;
	background-color: transparent;
	line-height: 72px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	width: 17.1%;
	left: 55.13%;
}

#u415-4
{
	z-index: 216;
	background-color: transparent;
	line-height: 72px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	width: 17.1%;
	left: 73.94%;
}

#u1643
{
	z-index: 282;
	width: 20px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 262px;
}

#pu371-4,#pu383-5
{
	margin-top: 21px;
	width: 100%;
}

#u383-5
{
	z-index: 179;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 48.21%;
	left: 25.9%;
}

#u383
{
	color: #FFFFFF;
}

#u1648
{
	z-index: 283;
	width: 20px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 559px;
}

#u418-4
{
	z-index: 220;
	min-height: 40px;
	background-color: transparent;
	line-height: 58px;
	margin-top: 50px;
	position: relative;
	width: 74.71%;
	margin-left: 12.65%;
}

#u421-7
{
	z-index: 224;
	min-height: 106px;
	background-color: transparent;
	margin-top: 16px;
	position: relative;
	width: 74.79%;
	margin-left: 12.65%;
}

#pu436
{
	margin-top: 22px;
	width: 100%;
}

#u436
{
	z-index: 6;
	min-height: 584px;
	background: transparent url("../images/bg-lp-3.jpg") repeat-x center center;
}

#u436_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 1170px;
	padding-top: 58px;
	padding-bottom: 83px;
}

#pu248-6,#pu427-4
{
	position: relative;
	width: 100%;
}

#u427-4
{
	z-index: 231;
	min-height: 56px;
	background-color: transparent;
	line-height: 58px;
	position: relative;
	margin-right: -10000px;
	width: 91.46%;
	left: 4.28%;
}

#u1598
{
	z-index: 280;
	width: 20px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 591px;
}

#pu1069
{
	margin-top: 147px;
	position: relative;
	width: 100%;
}

#u1069
{
	z-index: 7;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 2.91%;
	left: 5.48%;
}

#u1077
{
	z-index: 9;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 2.91%;
	left: 91.54%;
}

#u680-4
{
	z-index: 235;
	min-height: 20px;
	background-color: transparent;
	text-align: right;
	margin-top: 142px;
	position: relative;
	width: 33.51%;
	left: 52.65%;
}

#u436-bw
{
	z-index: 6;
	min-height: 584px;
}

#slideshowu683
{
	z-index: 255;
	width: 0.01px;
	height: 308px;
	position: relative;
	margin-right: -10000px;
	margin-top: 149px;
}

#u698-3
{
	position: absolute;
	width: 148px;
	min-height: 308px;
	border-width: 0px;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
}

#u698-3popup
{
	z-index: 256;
}

#u691
{
	position: absolute;
	width: 850px;
	height: 307px;
	border-width: 0px;
	background-color: transparent;
	top: 1px;
	left: 160px;
}

#u691popup
{
	z-index: 259;
}

#u696
{
	z-index: 260;
	width: 850px;
	height: 307px;
	border-width: 0px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u966
{
	z-index: 262;
	width: 850px;
	height: 307px;
	border-width: 0px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u986
{
	z-index: 264;
	width: 850px;
	height: 307px;
	border-width: 0px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1006
{
	z-index: 266;
	width: 850px;
	height: 307px;
	border-width: 0px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1026
{
	z-index: 268;
	width: 850px;
	height: 307px;
	border-width: 0px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u696_img,#u966_img,#u986_img,#u1006_img,#u1026_img
{
	padding-left: 1px;
}

#u704-3
{
	position: absolute;
	width: 147px;
	min-height: 307px;
	border-width: 0px;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	top: 1px;
	left: 1023px;
}

#u704-3popup
{
	z-index: 270;
}

#pu245-4,#pu1701-8
{
	margin-top: 50px;
	width: 100%;
}

#u1701-8
{
	z-index: 299;
	min-height: 170px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 50.77%;
	left: 4.28%;
}

#u1715-14
{
	z-index: 307;
	min-height: 170px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 35.73%;
	left: 60%;
}

#u1701-2,#u1715-2
{
	text-align: left;
	line-height: 31px;
}

#u1701-4,#u1701-6,#u1715-4,#u1715-10,#u1715-12
{
	font-size: 14px;
	text-align: left;
	line-height: 20px;
	padding-bottom: 14px;
}

#u1718-5
{
	z-index: 321;
	min-height: 21px;
	background-color: transparent;
	line-height: 20px;
	font-size: 14px;
	text-align: left;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
	width: 9.41%;
	margin-left: 60%;
}

#u1718-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 9.41%;
	margin: 0px 0px -5px 60%;
}

#u1718-5:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 9.41%;
	margin: 0px 0px -5px 60%;
}

#u1718-5:hover p,#u1718-5:hover a,#u1718-5:hover span
{
	color: #7F7F7F;
	visibility: inherit;
	text-decoration: none;
}

#u1718-5:active p,#u1718-5:active a,#u1718-5:active span
{
	color: #000000;
	visibility: inherit;
	text-decoration: none;
}

#u1718-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1718
{
	font-size: 16px;
	text-decoration: none;
	color: #FFFFFF;
	line-height: 22px;
}

#u450
{
	z-index: 288;
	min-height: 51px;
	padding-bottom: 11px;
}

#u450_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#u1676-4
{
	z-index: 289;
	min-height: 21px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	width: 31.12%;
	left: 4.28%;
}

#pu1685-4
{
	margin-right: -10000px;
	margin-top: 16px;
	width: 19.83%;
	margin-left: 75.9%;
}

#u1685-4
{
	z-index: 293;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	width: 88.37%;
	left: 11.64%;
}

#u1688
{
	z-index: 297;
	position: relative;
	margin-right: -10000px;
	width: 25.87%;
}

#u450-bw
{
	z-index: 288;
	min-height: 51px;
	margin-top: 23px;
}

.html
{
	background-color: #273142;
}

body
{
	position: relative;
	min-width: 320px;
	padding-bottom: 61px;
}

#pu1537,#u105_img,#u215_img,#u223_img,#u230_img,#u1519_img,#u1521_img,#u276_img,#u284_img,#u291_img,#u298_img,#u305_img,#u312_img,#u319_img,#u1069_img,#u1077_img,#u1688_img
{
	width: 100%;
}

@font-face
{
	font-family: '__HelveticaNeueCyr_5';
	src: url('../fonts/helveticaneuecyr-thin.eot');
	src: local('☺'), url('../fonts/helveticaneuecyr-thin.woff') format('woff'), url('../fonts/helveticaneuecyr-thin.svg') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face
{
	font-family: '__Helvetica Neue_3';
	src: url('../fonts/helvetica%20neue%20condensed%20black.eot');
	src: local('☺'), url('../fonts/helveticaneueblackcondensed1.woff') format('woff'), url('../fonts/helveticaneueblackcondensed.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face
{
	font-family: '__HelveticaNeueCyr_5';
	src: url('../fonts/helveticaneuecyr-light.eot');
	src: local('☺'), url('../fonts/helveticaneuecyr-light.woff') format('woff'), url('../fonts/helveticaneuecyr-light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face
{
	font-family: '__HelveticaNeueCyr_5';
	src: url('../fonts/helveticaneuecyr-lightitalic.eot');
	src: local('☺'), url('../fonts/helveticaneuecyr-lightitalic.woff') format('woff'), url('../fonts/helveticaneuecyr-lightitalic.svg') format('svg');
	font-weight: 300;
	font-style: italic;
}

