#u450
{
	background-color: #1B2133;
}

#u450_align_to_page
{
	max-width: 1170px;
}

#u1676-4
{
	background-color: transparent;
	line-height: 17px;
	font-size: 12px;
	text-align: left;
}

#u1685-4
{
	background-color: transparent;
	line-height: 17px;
	font-size: 12px;
	text-align: right;
}

#u1688
{
	background-color: transparent;
}


