@font-face {
    font-family: "Panton";
    src: url(images/fonts/Panton-Regular.eot), url("images/fonts/Panton-Regular.ttf") format("truetype"), local("Panton");
}

@font-face {
    font-family: "Roboto";
    src: url(images/fonts/Roboto-Regular.eot), url("images/fonts/Roboto-Regular.ttf") format("truetype"), local("Roboto");
}

@font-face {
    font-family: "Roboto";
    src: url(images/fonts/Roboto-Light.eot), url("images/fonts/Roboto-Light.ttf") format("truetype"), local("Roboto");
    font-weight: 100;
}

/*Основные правила*/

body {
    background: #232b3e;
    margin: 0;
}

* {
    color: #ffffff;
    font-family: Panton, sans-serif;

}

/* Шапка сайта */

/* Меню сайта */

.panel ul li a {
    color: #a1abc6;
    display: block;
    font-size: 18px;
    height: 39px;
    padding-left: 90px;
    padding-top: 22px;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000000;
}

.panel ul li a:hover {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #3d4a68, #2d374e) repeat scroll 0 0;
    cursor: pointer;
    padding-left: 90px;
}

.panel ul li {
    list-style: none;
}

.panel ul {
    border-bottom: 1px solid #0c1224;
    margin: 0;
    padding: 0;
}

.panel ul li.active {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #3d4a68, #2d374e) repeat scroll 0 0;
    border-bottom: 1px solid #1b2133;
    border-left: 0 solid #dd374d;
    box-shadow: 0 2px 0 #515c77 inset;
}

.panel ul li.active a {
    color: #ffffff;
    padding-left: 90px;
}

.menu li {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #232b3e, #1b2133) repeat scroll 0 0;
    border-bottom: 1px solid #1b2133;
    box-shadow: 1px 1px 0 #394152 inset;
    color: #a1abc6;
}

.menu {
    background: #1b2133 none repeat scroll 0 0;
    border-right: 1px solid #1b2133;
}

.menu .panel ul li:nth-child(4), .menu .panel ul li:nth-child(6)  {
    display:none;
}

.panel ul li.active:hover {
    background: #0c1224;
    border-left: #dd374d solid 0px;
}

/*Реферальная ссылка*/

.reflink input.copy-selector {
    background: #141c36 none repeat scroll 0 0;
    border: 1px solid #222b40;
    border-radius: 0;
    box-shadow: 0 0 0;
    font-size: 16px;
    height: 35px;
    min-width: 200px;
    padding: 0;
    text-align: center;
    width: 100%;
}

.reflink .btn.btn-primary {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border: medium none !important;
    box-shadow: 0 0 0 !important;
    cursor: pointer;
    float: none !important;
    font-size: 16px !important;
    margin-bottom: 0;
    margin-left: 45px;
    min-width: 220px;
    padding: 0 !important;
    width: 60% !important;
    z-index: 100;
}

.statuses .status.active:hover span {
    OPACITY: 1;
}

.edit-number {
    font-size: 36px !important;
    line-height: 1.1;
    text-decoration: none;

}

/*Редактирование профиля*/

.user-edit input {
    height: 40px;
    color: #ffffff;
    text-align: left;
}

.user-edit .field-user-surname input {
    width: 160px;
}

input, select {
    background: #2d374e none repeat scroll 0 0;
    border: 1px solid #212123;
    border-radius: 5px;
    box-shadow: 0 1px 0 #30394c;
    font-size: 18px;
    margin-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
}

button, .editprofile {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #283147, #202839) repeat scroll 0 0;
    border: 1px solid #181b21;
    box-shadow: 0 0 0 2px #21283a, 1px 1px #384563 inset;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    padding-top: 0;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
}

.editprofile {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #3c4761, #1e263a) repeat scroll 0 0;
    box-shadow: 0 2px 2px -1px #5b6479 inset, 0 0 2px #131b2e;
    display: block;
    height: 30px;
    margin-left: 124px;
    margin-top: 10px;
    padding-top: 10px;
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}

.view table.table-striped span {
    color: #76859a;
    font-size: 16px;
    font-weight: 100;
}

.view table.table-striped a {
    color: #76859a;
    font-size: 18px;
    font-weight: 100;
}

.panel, .panel-bg {
    float: left;
    margin-top: -30px;
    padding-bottom: 250px;
    width: 262px;
}

.head {
    background: #0c1224 none repeat scroll 0 0;
    float: left;
    height: 260px;
    margin-bottom: 30px;
    width: 100%;
}

.main {
    float: left;
    padding-left: 20px;
    width: 870px;
}

.header {
    float: left;
}

.avatar {
    background: #1b2133 none repeat scroll 0 0;
    float: left;
    height: 239px;
    padding: 20px 0 0;
    width: 262px;
}

.left-header {
    float: left;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    width: 576px;
}

.right-header {
    float: left;
}

.info-balance, .krug a {
    width: 175px;
}

.buttons .krug a {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #3c4761, #1e263a) repeat scroll 0 0;
    border: medium none;
    box-shadow: 0 2px 0 0 #0a0f1e, 0 1px #5b6479 inset;
    box-sizing: border-box;
    display: block;
    float: left;
    height: 45px;
    margin-bottom: 7px;
    padding-top: 13px;
    text-align: center;
    text-decoration: none !important;
    text-shadow: 2px 2px 0 #000000;
    text-transform: none;
    width: 135px;
}

.buttons .krug a {

}

.buttons .krug:first-child a {
    border-radius: 3px 0 0 3px;
    border-right: 1px solid #1d2437;
    box-sizing: border-box;
}

.buttons .krug:nth-child(2) a {
    border-radius: 0 3px 3px 0;
    border-left: 1px solid #1d2437;
    box-sizing: border-box;
}

.info-balance {
    background: #d65b4a none repeat scroll 0 0;
    border-radius: 3px;
    height: 75px;
    line-height: 1;
    margin-bottom: 7px;
    margin-top: 13px;
    padding-top: 25px;
    text-align: center;
    text-shadow: 1px 1px 2px #000000;
    width: 270px;
}

.info-balance span.account {
    font-size: 35px;
}

.info-balance span {
    font-size: 18px;
}

.namelogin {
    font-family: roboto, sans-serif;
    font-size: 42px;
    font-weight: 100;
    margin-bottom: 1px;
    padding-left: 43px;
    text-transform: uppercase;
}

.status {
    font-family: roboto, sans-serif;
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 10px;
}

.status {
    font-size: 24px;
}

.avatar img {
    max-width: 340px;
}

.sponsor img,
.referral img {
    max-width: 50px;
}

.referral2 {
    display: inline-block;
}

.avatar .photo {
    background-size: cover !important;
    /*background-repeat: no-repeat;*/
    border-radius: 50%;
    box-shadow: 0 0 4px 2px #ffffff inset;
    height: 180px;
    left: 28px;
    position: relative;
    top: 22px;
    width: 180px;
}

.view tr {
    border-bottom: 1px dashed #4b5b7f;
    display: block;
    width: 214px !important;
}

.ava-fon {
    background: #1b2133 url("http://evartinvest.com/uploads/users/avatar-fon.png") no-repeat scroll 0 0;
    height: 225px;
    margin: 0 auto !important;
    position: relative;
    top: 0;
    width: 229px;
}

.user-view table {
    background: #2d374e none repeat scroll 0 0;
    box-sizing: border-box;
    display: block;
    float: left;
    margin-right: 0;
    padding: 0 27px;
    width: 270px !important;
    display: none;
}

.user-info {
    float: left;
    width: 600px;
}

select {
    cursor: pointer;
    color: #a1abc6;
}

#user-name,
#user-forename,
#user-password {
    width: 136px;
    float: left;
}

#user-surname {
    width: 136px;
    float: left;
}

#user-forename {
    float: left;
    width: 136px;
}

#user-year {
    float: right;
    height: 40px;
    margin-right: 2px;
    width: 102px;
}

#user-month {
    float: right;
    height: 40px;
    margin-right: 10px;
    width: 195px;
}

#user-day {
    float: right;
    height: 40px;
    margin-right: 10px;
    width: 83px;
}

#user-sex {
    box-shadow: 0 1px 0 #30394c;
    float: left;
    height: 42px;
    margin: 0 0 10px;
    min-width: 134px;
}

.number #user-phone {
    float: left;
    margin-right: 0;
    width: 209px;
    color: #a1abc6;
    height: 40px;
    text-align: left;
}

.dz-error-mark, .dz-success-mark, .dz-error-message, .dz-progress, .dz-details {
    display: none;
}

#user-social {
    float: left;
    width: 206px;
}

#user-city {
    float: left;
    width: 206px;
}

.user-edit button {
    margin-left: 259px;
}

#user-phonecountry {
}

.update .control-label {
    background: #2d374e none repeat scroll 0 0;
    border: 1px solid #212123;
    border-radius: 5px;
    box-shadow: 0 1px 0 #30394c;
    color: #a1abc6;
    cursor: no-drop;
    display: block;
    float: left;
    font-size: 16px;
    height: 31px;
    margin-right: 10px;
    padding: 11px 12px 0;
    width: 160px;
}

#user-email {
    float: left;
    width: 206px;
}

#user-skype {
    float: left;
    margin-right: 0;
    width: 209px;
}

#user-wallet_card {
    float: left;
    margin-right: 0;
    width: 209px;
}

.user-edit button {
}

.sponsor {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #232b3e, #1b2133) repeat scroll 0 0;
    border: 1px solid #0c1224;
    box-shadow: 0 1px 0 #394152 inset, 0 2px 1px #161b2a;
    font-size: 26px;
    height: 80px;
    line-height: 0.7;
    padding: 20px 0 0 25px;
    text-shadow: 2px 2px 0 #161d30;
}

.avasponsor {
    background-size: 100% auto !important;
    border-radius: 50%;
    float: left;
    height: 56px;
    margin-right: 15px;
    position: relative;
    width: 56px;
}

.sponsor > span {
    color: #a1abc6;
    display: block;
    float: left;
    font-size: 14px;
    line-height: 1.7;
    width: 110px;
}

.sponsor > .name {
    color: #a1abc6;
    float: left;
    width: 150px;
}

.status {
    font-size: 24px;
    margin-bottom: 10px;
}

.left-header > .status {
    margin-bottom: 12px;
    margin-left: 46px;
}

.ref, .info-regeral {
    margin-top: 2px;
    text-align: center;
    width: 425px;
}

.lines .line a {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #2d3850, #1b2133) repeat scroll 0 0;
    border-left: 1px solid #3f475c;
    border-radius: 3px;
    border-right: 1px solid #3f475c;
    border-top: 1px solid #3f475c;
    color: #4b5b7f;
    float: left;
    font-size: 28px;
    height: 43px;
    margin-right: 4px;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    width: 81px;
}

.lines {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("/images/refnumber.png") no-repeat scroll 24px 8px, rgba(0, 0, 0, 0) linear-gradient(to bottom, #232b3e, #1b2133) repeat scroll 0 0;
    border-color: #343c4d #343c4d #10131c;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    height: 58px;
    margin-bottom: 10px;
    padding: 8px 25px;
    width: 738px;
}

.lines .line {
    background: #0f1014 none repeat scroll 0 0;
    box-shadow: 0 1px 1px #141825;
    float: left;
    height: 54px;
    padding: 2px 1px 1px 2px;
    width: 79px;
}

.referral2 {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #232b3e, #1b2133) repeat scroll 0 0;
    border-color: #2e3445 #2e3445 #10131c;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    float: left !important;
    width: 50%;
}

.plan > a {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #424c65, #1e263a) repeat scroll 0 0;
    border: 1px solid #222a3d;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 2px 1px #515b71 inset;
    display: block;
    font-size: 16px;
    height: 35px;
    margin: 0 auto;
    padding: 10px 0 0;
    text-align: center;
    text-decoration: none;
    width: 210px;
}

.plan {
    background: #2e394f none repeat scroll 0 0;
    border: 1px solid #2a344a;
    border-radius: 5px;
    float: left;
    height: 340px;
    margin-bottom: 40px;
    margin-right: 29px;
    padding: 0;
    width: 240px;
}

.plan:nth-child(3), .plan:nth-child(6) {
    margin-right: 0;
}

body.signup, body.login, body.request, body.password {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #4a4d52;
    background-image: url("images/bg.jpg");
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: 100% auto;
    min-height: 610px;
}

.user-signup form, .user-login form, .request form, .password form {
    background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
    border: 1px solid #7d8890;
    color: #000000;
    margin: 0 auto;
    min-height: 138px;
    padding: 20px 35px;
    width: 420px;
}

.password form {
    min-height: 100px;
}

.user-signup form {
    min-height: 338px;
}

.user-login form {
    min-height: 138px;
}

.field-user-ref_name .control-label {
    font-size: 18px;
    padding: 6px 130px 0 12px;
}

.form-group.field-user-ref_name > input {
    background: rgba(0, 0, 0, 0.255) none repeat scroll 0 0;
    border: 2px solid rgba(0, 0, 0, 0.47);
    box-sizing: border-box;
    margin-right: 0;
    width: 204px;
}

.signup hr {
    border-top: 1px solid #000000;
    color: windowtext;
    margin: 0 0 11px;
    width: 100%;
}

.user-signup form input, .user-login form input, .request form input, .password form input {
    background: rgba(0, 0, 0, 0.43) none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
    box-shadow: none !important;
    color: #ffffff !important;
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    margin-bottom: 10px;
    margin-right: 10px;
    opacity: 1 !important;
    width: 170px;
    float: left;
}

.user-signup form input::-webkit-input-placeholder, .user-login form input::-webkit-input-placeholder, .password form input::-webkit-input-placeholder {
    color: #fff !important;
    opacity: 1 !important;
}

.user-signup form input::-moz-placeholder, .user-login form input::-moz-placeholder, .password form input::-moz-placeholder {
    color: #fff !important;
    opacity: 1 !important;
}

.user-signup form input:-moz-placeholder, .user-login form input:-moz-placeholder, .password form input:-moz-placeholder {
    color: #fff !important;
    opacity: 1 !important;
}

.user-signup form input:-ms-input-placeholder, .user-login form input:-ms-input-placeholder, .password form input:-ms-input-placeholder {
    color: #fff !important;
    opacity: 1 !important;
}

.user-signup input[placeholder], .user-login input[placeholder], .password input[placeholder] {
    color: #fff !important;
    opacity: 1 !important;
}

.signup button, .user-login button, .request button, .password button {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #e23f58, #da3347) repeat scroll 0 0;
    border-color: #ee587b #ee587b -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 0 0 1px;
    box-shadow: 0 0 0 1px #323131;
    height: 41px;
    margin: 0 110px;
    padding: 0 0 1px;
    width: 200px;
}

.signup label input {
    cursor: pointer;
    float: left;
    height: auto;
    margin: 4px;
    width: auto;
}

.signup label {
    color: #c7c7c7;
    display: block;
    float: left;
    font-size: 13px;
    margin: 3px 8px 0 auto;
}

.politics {
    float: none !important;
    font-size: 14px;
    margin: 0 auto 12px;
    width: 340px;
}

.politics p {
    color: #c7c7c7 !important;
    margin: 2px 0;
}

#accept-agreement {
    display: none;
}

[for="accept-agreement"] {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #3a3a3a, #2f2f2f) repeat scroll 0 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    box-shadow: 1px 1px 1px #535353 inset;
    cursor: pointer;
    display: block !important;
    height: 16px !important;
    position: relative;
    width: 16px !important;
}

[for="accept-agreement"]:after {

}

[for="accept-agreement"]:before {

}

#accept-agreement:checked ~ [for="accept-agreement"]:before {

}

#accept-agreement:checked ~ [for="accept-agreement"]:after {
    content: "✓";
    font-weight: 800;
    padding-left: 3px;
    text-shadow: 1px 1px 1px #000000;
    width: 16px;
}

.signup h1, .login h1, .user-password h1 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    font-family: roboto, sans-serif;
    font-size: 48px;
    font-weight: 100;
    height: auto;
    line-height: 53px;
    margin: 150px auto 11px;
    padding: 0;
    width: 422px;
}

.login a {
    display: inline;
    float: left;
    font-size: 14px;
    margin: 0 79px 11px 0 !important;
    padding-left: 10px;
}

.login .form-group, .signup .form-group {
    float: left;
    max-width: 1000px;
    position: relative;
}

.login input {
    margin-bottom: 5px;
}

/*.help-block {*/
    /*float: none;*/
    /*font-size: 14px;*/
    /*position: relative;*/
    /*top: -5px;*/
    /*width: 195px;*/
    /*z-index: -1;*/
/*}*/

.clear {
    clear: both;
}

.history .table, .feedback .table {
    background: #2d374e none repeat scroll 0 0;
    border-radius: 8px;
    box-shadow: 0 1px 0 0 #1e2538, -1px 0 0 0 #1e2538, 1px 0 0 0 #1e2538;
    margin: 0;
}

table {
    border-collapse: collapse;
}

.history .table thead, .feedback .table thead {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    height: 55px;
}

.history thead th, .feedback thead th {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #424c66, #1e273c) repeat scroll 0 0;
    border-color: -moz-use-text-color #3a4257;
    border-image: none;
    border-style: none solid;
    border-width: 0 1px;
    color: #a1abc6;
    font-weight: 400;
    text-align: left;
}

.history thead th a, .feedback thead th a {
    color: #a1abc6;
    font-size: 17px;
    font-weight: 400;
    text-decoration: none !important;
}

.history thead th:first-child, .feedback thead th:first-child {
    border: 0 none !important;
    border-radius: 10px 0 0 10px !important;
}

.history thead th:last-child, .feedback thead th:last-child {
    border: 0 none;
    border-radius: 0 10px 10px 0;
}

.referral2 > img {
    height: auto;
    width: 100px;
}

.user > img {
    width: 100px;
}

.plan .name {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #2a334b, #1b2133) repeat scroll 0 0;
    border-bottom: 1px solid #36415b;
    border-top: 1px solid #36415b;
    font-size: 34px;
    height: 80px;
    line-height: 1;
    padding: 10px 40px 0;
    text-align: center;
}

.case {
    background: #1b2133 none repeat scroll 0 0;
    border-radius: 5px 5px 0 0;
    color: #a2acc7;
    font-size: 14px;
    height: 24px;
    padding: 6px 15px 0;
    text-shadow: 0 0 1px #000000;
}

.plan > .panel ul li {
    border-bottom: 1px solid #3a445e;
    border-top: 1px solid #2a3448;
    color: #ffffff;
    font-size: 13px;
    height: 32px;
    margin: 0 15px;
    padding: 14px 0 0;
}

.plan > .panel ul li:first-child {
    border-top: 0px solid #2a3448;
}

.plan > .panel ul li:last-child {
    border-bottom: 0px solid #3a445e;
}

.plan .panel ul {
    border: 0px;
}

.plan li::before {
    border: 2px solid #232c3d;
    border-radius: 70%;
    color: #9fa3ab;
    content: "+";
    display: block;
    float: left;
    font-weight: 700;
    height: 7px;
    line-height: 0.5;
    margin-right: 3px;
    padding: 3px 3px 3px 2px;
    position: relative;
    top: 2px;
    width: 7px;
}

.history tbody tr:nth-child(2n) td, .feedback tbody tr:nth-child(2n) td {
    background: #1b2133 none repeat scroll 0 0;
}

.history tbody td, .feedback tbody td, th {
    color: #a1abc6;
    font-size: 14px;
    padding: 2px 11px 4px 11px
}

.table td {
    border-right: 1px solid #384257;
}

.table td:last-child {
    border-right: 0px solid #384257;
}

th {
    font-size: 17px;
}

.table a:hover {
    color: #fff;
}

.feedback a.btn.btn-success {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #3c4761, #1e263a) repeat scroll 0 0;
    border: 1px solid #181b21;
    box-shadow: 0 2px 2px -1px #5b6479 inset, 0 0 2px #131b2e;
    color: #ffffff;
    display: block;
    font-size: 16px;
    font-weight: 400;
    height: 30px;
    margin-left: 344px;
    margin-top: 30px;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 200px;
}

textarea {
    background: #2d374e none repeat scroll 0 0;
    border: 1px solid #212123;
    border-radius: 5px;
    box-shadow: 0 1px 0 #30394c;
    font-size: 18px;
    margin-bottom: 12px;
    min-height: 120px;
    min-width: 300px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 7px;
}

.feedbackcreate input {
    height: 40px;
    width: 200px;
}

.feedbackcreate .help-block {
    float: none;
    font-size: 14px;
    position: relative;
    top: -10px;
    width: auto;
    z-index: -1;
}

.history tbody th a, .history tbody td a, .feedback tbody th a, .feedback tbody td a, {
    color: #a1abc6;
    text-decoration: none;
}

.history tbody td:first-child, .feedback tbody td:first-child {

}

.history tbody td:last-child, .feedback tbody td:last-child {

}

.history tbody tr:last-child td, .feedback tbody tr:last-child td {

}

.history tbody tr:first-child td, .feedback tbody tr:first-child td {
    border-top: 0 none;
}

.history tbody tr:last-child td:first-child, .feedback tbody tr:last-child td:first-child {
    border-radius: 0 0 0 10px !important;
    border-right: 1px solid #384257;
}

.history tbody tr:last-child td:last-child, .feedback tbody tr:last-child td:last-child {
    border-radius: 0 0 10px 0 !important;
}

.update .form-group {
    /*float: left;*/
    /*min-width: 190px;*/
}

.user-edit form {
    float: left;
    width: 480px;
}

.signup #user-name {
    float: left;
    width: 182px;
}

.signup #user-surname {
    width: 182px;
}

.signup #user-forename {
    margin-right: -5px;
    width: 182px;
}

.signup #user-email {
    float: left;
    width: 182px;
    margin-right: -5px;
}

.signup #user-password {
    width: 182px;
}

.signup #user-repeat {
    float: left;
    width: 182px;
    margin-right: -5px;
}

.signup #user-phone {
    width: 182px;
}

.update .btn.btn-primary {
    display: block;
    float: left;
    width: 38px;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #283147, #202839) repeat scroll 0 0;
    border: 1px solid #181b21;
    box-shadow: 0 0 0 2px #21283a, 1px 1px #384563 inset;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    padding-top: 0;
    text-align: center;
    text-transform: uppercase;
}

.info-menu {
    height: 43px;
    padding-left: 45px;
    font-size: 20px;
    padding-top: 22px;
    color: #515974;
}

.info-menu img {
    left: 90px;
    position: relative;
}

.table a {
    color: #a1abc6;
    text-align: left !important;
    text-decoration: none;
}

.myava {
    background-size: 100% auto !important;
    border-radius: 10px;
    float: left;
    height: 90px;
    margin: 18px 25px;
    width: 90px;
}

.user2 {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #2f3952, #1b2133) repeat scroll 0 0;
    border: 1px solid #424b62;
    border-radius: 3px;
    box-shadow: 2px 2px 0 #0d1018;
    height: 125px;
    margin-bottom: 10px;
    width: 390px;
}

.refinfo {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #232b3e, #1b2133) repeat scroll 0 0;
    border-left: 1px solid #222a3d;
    box-shadow: 1px 0 0 #343c4c inset;
    float: left;
    height: 125px;
    padding-left: 20px;
    width: 179px;
}

.infostrelka {
    box-shadow: 2px 1px 0 #3e465b inset;
    display: block;
    float: left;
    height: 70px;
    padding-top: 55px;
    text-align: center;
    width: 49px;
}

.refinfo > p:first-child {
    color: #ffffff;
    font-size: 16px;
    margin-top: 15px;

}

.refinfo > p {
    color: #a1abc6;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
}

.refimg {
    background-size: 100% auto !important;
    border-radius: 3px;
    float: left;
    height: 60px;
    margin: 15px;
    width: 60px;
}

.referral2 p:first-child {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 15px;
    text-transform: capitalize;
}

.referral2 p {
    color: #a1abc6;
    font-size: 14px;
    line-height: 1.2;
    margin: 0;
}

.thumbnail {
    width: 200px;
}

.feedback-ticket .btn {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #3c4761, #1e263a) repeat scroll 0 0;
    border: 1px solid #181b21;
    box-shadow: 0 2px 2px -1px #5b6479 inset, 0 0 2px #131b2e;
    color: #ffffff;
    display: block;
    font-size: 16px;
    font-weight: 400;
    height: 30px;
    margin-top: 30px;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 200px;
}

#field-user-sex select {
    background: transparent;
}

select {
    -webkit-appearance: none;
    background-image: url('/images/select.png');
    background-position: right center;
    background-repeat: no-repeat;
    line-height: 1em;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    -ms-appearance: none;
    appearance: none !important;
}

select::-ms-expand {
    display: none;
}

.statuses {
    margin-top: 58px;
    max-width: 100%;
    position: relative;
}

.statuses .status {
    border-left: 1px solid #525a6b;
    box-shadow: 0 0 0 1px #272f41;
    box-sizing: border-box;
    color: #808080 !important;
    cursor: help;
    float: left;
    height: 17px;
    position: relative;
    width: 7.69%;
    z-index: 3;
}

/*.statuses .status.active span {*/
/*background: #de384e none repeat scroll 0 0;*/
/*border-color: #0c1224 #000000 #0000ff #8691ae;*/
/*border-radius: 25px;*/
/*color: #ffffff;*/
/*font-size: 14px;*/
/*position: relative;*/
/*text-align: center !important;*/
/*width: auto;*/
/*z-index: 0 !important;*/
/*}*/

.statuses .status:first-child {
    border-radius: 30px 0 0 30px;
}

.statuses .status:last-child {
    border-radius: 0 30px 30px 0;
}

.statuses .status.active {
    color: white;
}

.statuses .status span {
    display: none;
}

.statuses:hover .active span {
    display: none;
}

/*.statuses .status:hover span {*/
/*background: #de384e none repeat scroll 0 0;*/
/*border-color: #0c1224 #000000 #0000ff #8691ae;*/
/*border-radius: 25px;*/
/*color: #ffffff;*/
/*display: block;*/
/*font-size: 14px;*/
/*left: 10px;*/
/*min-width: 160px;*/
/*padding: 2px;*/
/*position: relative;*/
/*text-align: center !important;*/
/*top: -30px;*/
/*z-index: 1 !important;*/
/*}*/

.status.active:hover img {
    top: -34px;
}

select > option {
    background: #2d374e none repeat scroll 0 0;
    border-left: 1px solid #202020;
    border-right: 1px solid #202020;
    border-top: 1px solid #3c455a;
    border-bottom: 1px solid #3c455a;
    box-shadow: none;
    box-sizing: border-box;
    color: #a1abc6;
    margin: 0;
    padding: 10px 0;
    height: 43px;
}

.statuses .status.active span, .statuses .status:hover span {
    background: rgba(0, 0, 0, 0) url("images/status-bg.png") no-repeat scroll 0 0;
    display: block;
    font-size: 13px;
    height: 31px;
    left: 32px;
    margin-top: -13px;
    min-width: 200px;
    padding-top: 11px;
    position: relative;
    text-align: center;
    top: -33px;
}

.statuses:hover .active span {
    opacity: 0;
}

.statuses .status.active img {
    left: 32px;
    position: relative;
    top: -33px;
    z-index: 10000000;
}

select > option:first-child {
    border-top: 0px solid #3c455a;
}

select > option:last-child {
    border-bottom: 0px solid #3c455a;
}

select > option:hover {
    background: #262e41 none repeat scroll 0 0 !important;
}

.lines #active a {
    background: #1f2639 none repeat scroll 0 0;
    border: 0 none;
    box-shadow: 0 0 26px -12px #000000 inset;
    color: #a1abc6;
}

.lines #active {
    border-radius: 0;
    box-shadow: 0 0 0;
    left: -1px;
    position: relative;
}

.lines .line a:hover {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #354057, #242a3c) repeat scroll 0 0;
    border-color: #4a5369;
}

@media (min-width: 1170px) {
    .menu-toogle, .menu-toogle2 {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1170px) {
    .menu-toogle, .menu-toogle2 {
        display: none;
    }

    .avatar {
        background: #1b2133 none repeat scroll 0 0;
        float: left;
        height: 219px;
        padding: 10px 0 0;
        width: 285px;
    }

    .avatar .photo {
        box-shadow: 0 0 2px 2px #ffffff inset;
        height: 155px;
        left: 25px;
        position: relative;
        top: 20px;
        width: 155px;
    }

    .statuses {
        margin-top: 45px;
    }

    .head {
        height: 230px;
        margin-bottom: 30px;
        width: 100%;
    }

    .ava-fon {
        height: 195px;
        width: 199px;
        background-size: 100% auto;
    }

    .left-header {
        margin-top: 12px;
        padding-left: 35px;
        width: 500px;
    }

    .right-header {
        float: left;
        margin-top: 15px;
    }

    .info-menu img {
        display: none;
    }

    .info-balance, .krug a {
        width: 146px;
        margin-top: 0px;
    }

    .info-menu {
        font-size: 20px;
        height: 38px;
        padding-left: 35px;
        padding-top: 17px;
    }

    .panel, .panel-bg {
        width: 285px !important;
    }

    .panel ul li.active a {
        padding-left: 65px;
    }

    .panel ul li.active {
        border-left: 4px solid #dd374d;
    }

    .panel ul li a {
        height: 37px;
        padding-left: 70px;
        padding-top: 17px;
    }

    .panel ul li a:hover {
        background: #0c1224 none repeat scroll 0 0 !important;
        border-left: 4px solid #dd374d;
        cursor: pointer;
        padding-left: 66px;
    }

    .sponsor {
        font-size: 22px;
        height: 57px;
        margin: 25px auto;
        padding: 20px 0 0 10px;
        width: 185px;
    }

    .sponsor > .name {
        width: 110px;
    }

    .main {
        padding-left: 30px;
        width: 665px;
    }

    .lines {
        padding: 8px 2%;
        width: 96%;
        background-size: 95% auto !important;
    }

    .lines #active {
        border-radius: 0;
        box-shadow: 0 0 0;
        left: 1px;
        position: relative;
    }

    .lines .line {
        background: #0f1014 none repeat scroll 0 0;
        box-shadow: 0 1px 1px #141825;
        float: left;
        height: 46px;
        padding: 2px 0 1px 1px;
        width: 71px;
    }

    .lines .line a {
        font-size: 28px;
        height: 37px;
        margin-right: 4px;
        padding-top: 8px;
        text-align: center;
        text-decoration: none;
        width: 69px;
    }

    .plan:nth-child(3), .plan:nth-child(6) {
        margin-right: 29px;
    }

}

@media (min-width: 768px) and (max-width: 979px) {
    .menu-toogle {
        background: #1b2133 none repeat scroll 0 0;
        cursor: pointer;
        display: block;
        height: 1200px;
        left: 0;
        padding: 0;
        position: fixed;
        width: 80px;
        z-index: 100000000;
    }

    .menu-toogle > img {
        display: inline;
        left: 25px;
        position: fixed;
        text-align: center;
        top: 50%;
    }

    .menu-toogle2 {
        background: #1b2133 none repeat scroll 0 0;
        border-left: 1px solid #0c1224;
        cursor: pointer;
        display: none;
        height: 1200px;
        left: 210px;
        padding: 0;
        position: fixed;
        width: 60px;
        z-index: 100000000;
    }

    .menu-toogle2 img {
        display: inline;
        left: 225px;
        position: fixed;
        text-align: center;
        top: 50%;
    }

    body {
        padding-left: 80px;
    }

    .avatar {
        border-bottom: 1px solid #0c1224;
        display: none;
        height: 219px;
        left: 0;
        position: absolute;
        width: 210px;
        z-index: 2147483647;
    }

    .ava-fon {
        background-size: 100% auto;
        height: 162px;
        margin-top: 13px !important;
        width: 162px;
    }

    .avatar .photo {
        box-shadow: 0 0 2px 2px #ffffff inset;
        height: 126px;
        left: 20px;
        position: relative;
        top: 16px;
        width: 126px;
    }

    .panel, .panel-bg {
        display: none;
        left: 0;
        position: absolute;
        top: 260px;
        width: 210px !important;
        z-index: 2147483647 !important;
        background: #1b2133 none repeat scroll 0 0;
    }

    .head {
        height: 230px;
    }

    .left-header {
        margin-top: 5px;
        padding-left: 2%;
        padding-right: 1.5%;
        width: 73%;
    }

    .info-balance {
        height: 71px;
        margin-top: 5px;
        padding: 23px 0 3px;
        width: auto;
    }

    .buttons .krug a {
        height: 30px;
        width: 100%;
    }

    .right-header {
        float: left;
        padding-left: 1.5%;
        padding-right: 2%;
        width: 20%;
    }

    .header {
        float: left;
        width: 100%;
    }

    .main {
        float: left;
        padding-left: 2%;
        padding-right: 2%;
        width: 96%;
    }

    .main .info1 {
        box-sizing: border-box;
        height: 120px;
        margin-right: 5%;
        padding-top: 30px;
        width: 30%;
    }

    .main .info1:nth-child(3) {
        margin-right: 0;
    }
}

.footer2 {
    background: #1b2133 none repeat scroll 0 0;
    height: 20px;
    margin: 110px 0 0;
    padding: 20px 0 15px;
}

.footer2 p {
    font-size: 13px;
    margin: 0;
}

.footer2 p:last-child {
    font-size: 13px;
}

.fleft {
    float: left;
    margin-left: 5%;
    width: 60%;
}

.footer2 p:last-child img {
    float: left;
    font-size: 13px;
    margin: 0 20px 0 0;
    position: relative;
    top: -10px;
    vertical-align: middle !important;
}

.status.active ~ .status {
    background: #2e3647 none repeat scroll 0 0;
    border-color: -moz-use-text-color #292e38 -moz-use-text-color #3b4353;
    border-style: none solid;
    border-width: 0 1px;
    box-shadow: 0 1px 1px #293245, 0 0 1px #1d1f32 inset !important;
}

.statuses > .status {
    background: #3b455d none repeat scroll 0 0;
}

.status.active {
    position: relative;
    z-index: 4;
}

.left-footer {
    float: left;
    height: 10px;
    width: 5%;
}

.status img {
    left: 24px;
    position: relative;
    top: -13px;
    z-index: 10000000;
}

.dropzone.dz-clickable {
    margin-left: 20px;
    width: 250px;
}

.dropzone {
    background: rgba(0, 0, 0, 0) url("/images/photo.png") repeat scroll 0 0;
    float: left;
    height: 250px;
    width: 250px;
}

.dropzone.dz-drag-hover {
    background: url("/images/photo2.png");
}

.panel-bg {
    background: #1b2133 none repeat scroll 0 0;
    height: 2080px;
    position: fixed;
    width: 262px;
    z-index: -1;
}

h1 {
    background: #3b455d none repeat scroll 0 0;
    color: #ffffff;
    font-family: panton . sans-serif;
    font-size: 28px;
    height: 26px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 46px 0 33px 40px;
}

.user.update input {
    margin-right: 10px;
    color: #a1abc6 !important;
    box-shadow: 0 1px 0 #3b455c !important;
}

.first-ref {
    background: #2a3348 none repeat scroll 0 0;
    padding: 15px 40px 5px;
}

.second-ref {
    background: #2a3348 none repeat scroll 0 0;
    padding: 0 40px 5px !important;
}

.user-edit {
    background: #2d374e none repeat scroll 0 0;
    padding: 25px 0 40px 60px;
}

.greenrefonline {
    background: #64c714 none repeat scroll 0 0;
    border: 1px solid #232629;
    border-radius: 50%;
    box-shadow: 2px 2px 1px #a8e07b inset;
    height: 17px;
    left: -9px;
    position: relative;
    top: 35px;
    width: 17px;
}

.referral2 .greenrefonline {
    top: 21px;
}

.referrals {
    background: #2a3348 none repeat scroll 0 0;
    height: 120px;
    padding: 10px 40px;
}

.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix.ui-draggable-handle {
    display: none;
}

.ui-widget-content.ui-corner-all {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #414c66, #1e273c) repeat scroll 0 0 !important;
    border: 1px solid #3c4457 !important;
    box-shadow: 1px 2px 2px #525b72 inset, 0 0 11px -5px #000000;
    color: #a1abc6 !important;
    padding: 20px;
    width: 500px !important;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only:first-child {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #e23f58, #da3347) repeat scroll 0 0 !important;
    border: 1px solid #191b22;
    box-shadow: 1px 1px 0 #21293d, 1px 1px 0 #f9719e inset;
    width: 140px;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only:last-child {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #3c4761, #1e263a) repeat scroll 0 0 !important;
    border: 1px solid #191b22;
    box-shadow: 1px 1px 0 #21293d, 1px 1px 0 #5b6479 inset;
    width: 140px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
}

.ui-dialog .ui-dialog-buttonpane {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-width: 0;
    margin-top: 0;
    padding: 0;
    text-align: left;
}

.ui-dialog .ui-dialog-content {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    padding: 0 !important;
}

.sponsor-img {
    background-size: 100% auto !important;
    border-radius: 50%;
    float: left;
    height: 100px;
    left: 16px;
    margin-right: 20px;
    position: relative;
    top: 12px;
    width: 100px;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: left;
}

.ava-fon2 {
    background-attachment: scroll !important;
    background-clip: border-box !important;
    background-color: rgba(0, 0, 0, 0) !important;
    background-image: url("http://evartinvest.com/uploads/users/avatar-fon.png") !important;
    background-origin: padding-box !important;
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;
    background-size: 100% auto;
    float: left;
    height: 130px;
    margin-right: 20px;
    position: relative;
    width: 130px;
    z-index: 1;
}

#resetrequest-name {
    display: none;
}


.dev {
    display: none;
}

#business-card-dialog {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #29324a, #1b2134) repeat scroll 0 0;
    border: 1px solid inactivecaptiontext;
    border-radius: 4px;
    left: 40%;
    padding: 20px;
    position: fixed;
    top: 30%;
    width: 20%;
    z-index: 2147483647;
}

#business-card-dialog .close {
    background: #1b2133 none repeat scroll 0 0;
    border-radius: 50%;
    display: block;
    height: 22px;
    left: 280px;
    position: absolute;
    text-align: center;
    top: 9px;
    width: 22px;
}

.account::after {
    content: "€";
}

.podderjka-skype a {
    display: block;
    padding: 40px 0;
    text-align: center;
}

.info1 {
    background: #2d374e none repeat scroll 0 0;
    border-radius: 2px;
    box-shadow: 0 1px 0 #30394c;
    color: #a1abc6;
    float: left;
    font-size: 13px;
    height: 96px;
    line-height: 1.2;
    margin-bottom: 10px;
    margin-right: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 22px;
    text-align: left;
    width: 135px;
}

.info1 span {
    color: #ffffff;
    font-size: 32px;
}

.info1 hr {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-bottom: 0 none;
    border-top: 1px solid #4b5b7f;
}

.info1 span .last {
    border-top: 1px solid #435172;
    box-shadow: 0 -1px 0 #313c55;
    display: block;
    font-size: 16px;
    margin: 0 -10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
}

.info1 span .last:after {
    content: " за сегодня";
}

.view table.table-striped td, .view table.table-striped th {
    color: #76859a;
    font-size: 18px;
    height: 19px;
    padding-bottom: 14px;
    padding-top: 14px;
    text-align: left;
}

.user-info-table {
    background: #3b455d none repeat scroll 0 0;
    float: left;
    font-size: 24px;
    height: 62px;
    margin: 0;
    padding: 34px 0 0;
    text-align: center;
    width: 270px !important;
    display: none;
}

/*   Для удаления */

.user-view tr th:first-child {
    display: none;
}

canvas {
    background: #2d374e none repeat scroll 0 0;
    height: 464px;
    margin-bottom: 20px;
    margin-top: 15px;
    width: 575px;
}

#choose-language {
    display: none;
    height: 39px;
    position: absolute;
    right: 0;
    width: 120px;
    z-index: 2147483647;
}

@media (min-width: 320px) and (max-width: 768px) {
    body.signup, body.login, body.request, body.password {
        background: #4a4d52 url("images/bg.jpg") no-repeat scroll center center / 520% auto;
        min-height: 620px;
    }

    .form-group.field-resetrequest-email.has-success > input {
        margin-right: 5% !important;
        text-align: center !important;
        width: 94% !important;
    }

    .signup h1, .login h1, .user-password h1 {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        box-sizing: border-box;
        font-family: roboto, sans-serif;
        font-size: 48px;
        font-weight: 100;
        height: auto;
        line-height: 53px;
        margin: 0 auto 11px;
        padding: 25px 10%;
        width: 100%;
    }

    .user-signup form {
        min-height: auto;
    }

    .user-signup form, .user-login form, .request form, .password form {
        background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
        border: 1px solid #7d8890;
        box-sizing: border-box;
        color: #000000;
        margin: 0 10% !important;
        min-height: 138px;
        padding: 10%;
        width: 80%;
    }

    .signup .form-group > input {
        box-sizing: border-box;
        margin-right: 0 !important;
        width: 100% !important;
    }

    .login .form-group, .signup .form-group {
        float: none;
        max-width: 100%;
        position: relative;
    }

    .signup button, .user-login button, .request button, .password button {
        background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #e23f58, #da3347) repeat scroll 0 0;
        border-color: #ee587b #ee587b -moz-use-text-color;
        border-style: solid solid none;
        border-width: 1px 0 0 1px;
        box-shadow: 0 0 0 1px #323131;
        box-sizing: border-box;
        height: 41px;
        margin: 0 10% !important;
        padding: 0;
        width: 80%;
    }

    .login .form-group > input {
        width: 91%;
    }

    .menu-toogle {
        background: #1b2133 none repeat scroll 0 0;
        cursor: pointer;
        display: block;
        height: 1200px;
        left: 0;
        padding: 0;
        position: fixed;
        width: 40px;
        z-index: 100000000;
    }

    .menu-toogle > img {
        display: inline;
        left: 7px;
        position: fixed;
        text-align: center;
        top: 50%;
    }

    .menu-toogle2 img {
        display: inline;
        left: 216px;
        position: fixed;
        text-align: center;
        top: 50%;
    }

    .avatar .photo {
        /*background-position: center center !important;*/
        background-size: contain !important;
        background-repeat: no-repeat;
        border-radius: 50%;
        box-shadow: 0 0 4px 2px #ffffff inset;
        height: 140px;
        left: 22px;
        position: relative;
        top: 18px;
        width: 140px;
    }

    .ava-fon {
        background: #1b2133 url("http://evartinvest.com/uploads/users/avatar-fon.png") no-repeat scroll 0 0 / 100% auto;
        height: 188px;
        margin: 0 auto !important;
        position: relative;
        top: 0;
        width: 180px;
    }

    .menu-toogle2 {
        background: #1b2133 none repeat scroll 0 0;
        border-left: 1px solid #0c1224;
        cursor: pointer;
        display: none;
        height: 1200px;
        left: 210px;
        padding: 0;
        position: fixed;
        width: 40px;
        z-index: 100000000;
    }

    .avatar {
        border-bottom: 1px solid #0c1224;
        display: none;
        height: 219px;
        left: 0;
        position: absolute;
        top: 0;
        width: 210px;
        z-index: 2147483647;
    }

    .info1 {
        background: #2d374e none repeat scroll 0 0;
        border-radius: 2px;
        box-shadow: 0 1px 0 #30394c;
        color: #a1abc6;
        float: left;
        font-size: 13px;
        height: 96px;
        line-height: 1.2;
        margin-bottom: 10px;
        margin-right: 2%;
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 15px;
        text-align: left;
        width: 28%;
    }

    .info1 span .last {
        border-top: 1px solid #435172;
        box-shadow: 0 -1px 0 #313c55;
        display: block;
        font-size: 12px;
        margin: 0 10px;
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 4px;
    }

    canvas {
        background: #2d374e none repeat scroll 0 0;
        height: 200px !important;
        margin-bottom: 20px;
        margin-top: 15px;
        width: 94% !important;
    }

    .user-info-table {
        background: #3b455d none repeat scroll 0 0;
        float: left;
        font-size: 24px;
        height: 62px;
        margin: 0;
        padding: 34px 0 0;
        text-align: center;
        width: 94% !important;
    }

    .user-view table {
        background: #2d374e none repeat scroll 0 0;
        box-sizing: border-box;
        display: block;
        float: left;
        margin-right: 0;
        padding: 0 27px;
        width: 94% !important;
    }

    .info1:last-child {
        background: #2d374e none repeat scroll 0 0;
        border-radius: 2px;
        box-shadow: 0 1px 0 #30394c;
        color: #a1abc6;
        float: left;
        font-size: 13px;
        height: 66px;
        line-height: 1.2;
        margin-bottom: 10px;
        margin-right: 2%;
        margin-top: 20px;
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 15px;
        text-align: center;
        width: 92%;
    }

    .view table.table tr {
        border-bottom: 1px dashed #4b5b7f;
        display: block;
        margin: 0 !important;
        padding: 0 !important;
        width: 176% !important;
    }

    .footer2 {
        display: none;
    }

    .panel, .panel-bg {
        background: #1b2133 none repeat scroll 0 0;
        display: none;
        left: 0;
        position: absolute;
        top: 260px;
        width: 210px !important;
        z-index: 2147483647 !important;
    }

    .statuses {
        display: none;
    }

    .left-header {
        border-top: 2px solid #232b3e;
        box-sizing: border-box;
        float: left;
        margin: -2px 0 0;
        padding-left: 0;
        padding-right: 0;
        padding-top: 12px;
        width: 80%;
    }

    .info-balance {
        background: #dd374d none repeat scroll 0 0;
        border-radius: 0;
        height: 95px;
        line-height: 1;
        margin-bottom: 0;
        margin-top: 0;
        padding-top: 0;
        text-align: center;
        text-shadow: 1px 1px 2px #000000;
        width: 100%;
    }

    .info-balance span {
        display: none;
        font-size: 18px;
    }

    .info-balance span.account {
        display: block;
        font-size: 28px;
        padding-top: 18px;
    }

    .namelogin {
        font-family: roboto, sans-serif;
        font-size: 28px;
        font-weight: 100;
        margin-bottom: 0;
        padding-left: 15%;
        text-transform: uppercase;
    }

    .left-header > .status {
        color: #a1abc6;
        font-size: 18px;
        line-height: 1;
        margin-bottom: 12px;
        margin-left: 15%;
    }

    .main {
        float: none;
        margin: 0 12%;
        padding-left: 0;
        width: 88%;
    }

    .user-info {
        float: none;
        width: 100%;
    }

    .right-header .buttons {
        display: none;
    }

    .podderjka-skype {
        display: none;
    }

    .header {
        float: none;
        height: 160px !important;
        margin-top: 60px;
    }

    .head {
        background: #0c1224 none repeat scroll 0 0;
        box-sizing: border-box;
        float: left;
        height: 153px;
        margin-bottom: 30px;
        width: 100%;
    }

    .reflink .btn.btn-primary {
        border-bottom: 2px solid #232b3e !important;
        box-sizing: border-box;
        height: 50px;
        margin: 0 15%;
        position: absolute;
        top: 10px;
        width: 70% !important;

    }

    .right-header {
        float: left;
        height: 95px;
        margin-top: -2px;
        position: relative;
        width: 20%;
        z-index: 100;
    }
}

.form-group.field-resetrequest-email > input {
    margin-right: 5%;
    text-align: center;
    width: 95%;
}

.error h1 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    text-align: center;
}

.menu li:nth-child(5), .menu li:nth-child(6)  {
    display: none;
}


/********************
** Artem Sky Block **
*********************/


#user-show_phone{
    box-shadow: none !important;
    /*display: none;*/
}

.field-user-show_phone > label {
    display: flex;
    line-height: 43px;
    /*background-image: url(images/check-off.png);*/
    /*background-repeat: no-repeat;*/
    /*padding-left: 43px;*/
}

/*.field-user-show_phone > label! > input[type=checkbox]:checked {*/
    /*display: flex;*/
    /*line-height: 43px;*/
    /*background-image: url(images/check-on.png);*/
    /*background-repeat: no-repeat;*/
    /*padding-left: 43px;*/
/*}*/

.input-group .input-group-addon {
    display: none;
}

#w0 > button {
    margin-left: 10px;
    margin-top: 2px;
}

ul.pagination > li {
    display: inline-block;
}

.clear + .info1 {
    display: none;
}